<div class="flex flex-col">
  <h2 class="text-4xl mb-4">Comment on "<%= @post.text %>"</h2>
  <%= form_with(model: [@user, @post, @comment]) do |form| %>
    <div class="flex flex-col">
      <%= form.text_area :text, placeholder: 'Enter your comment here...' %>
    </div>
    <div class="border-2 border-sky-500 w-2/4 p-2 bg-cyan-500" style="margin-top:2%">
      <%= form.submit 'Create Comment' %>
    </div>
  <% end %>
</div>
